@page "/AgregarProducto"
@page "/ActualizarProducto/{Id:int}"
@page "/VerProducto/{Id:int}"

@using Application;
@using Application.DTOs;
@using ProductosApp.Data;
@using Application.Interfaces;

@if (accion == AccionABM.Ver)
{
    <PageTitle>Ver Productos</PageTitle>
}
else if (accion == AccionABM.Actualizar)
{
    <PageTitle>Actualizar Productos</PageTitle>
}
else
{
    <PageTitle>Agregar Productos</PageTitle>
}


@if (accion == AccionABM.Ver)
{
    <h3>Ver Producto</h3>
}
else if (accion == AccionABM.Actualizar)
{
    <h3>Actualizar Producto</h3>
}
else
{
    <h3>Agregar Producto</h3>
}

<RadzenTemplateForm TItem="Model" Data="@model" Submit="@Submit" InvalidSubmit="@(_ => NS.Notify(NotificationSeverity.Warning, "Error de validación"))">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack>
                <RadzenFieldset Text="Producto">
                    <RadzenStack Gap="1rem">

                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Nombre" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenTextBox Style="width: 100%;" Name="Name" ReadOnly="@(accion == AccionABM.Ver)" @bind-Value="@model.Name" />
                                <RadzenRequiredValidator Component="Name" Text="El nombre es requerido" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Precio" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenNumeric Min="0" Style="width: 100%;" ShowUpDown="false" Name="Precio" ReadOnly="@(accion == AccionABM.Ver)" @bind-Value="@model.Precio" />
                                <RadzenNumericRangeValidator Component="Precio" Min="0.01" Text="El precio deberia ser mayor a 0" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Unidades" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenNumeric Min="0" Style="width: 100%;" ShowUpDown="false" Name="Unidades" ReadOnly="@(accion == AccionABM.Ver)" @bind-Value="@model.Unidades" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Marca" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown Style="width: 100%;"
                                                ReadOnly="@(accion == AccionABM.Ver)"
                                                TValue="int?"
                                                Data="marcas"
                                                Name="Marca"
                                                AllowClear="true"
                                                Placeholder="Seleccionar"
                                                TextProperty="@nameof(MarcaDTO.Nombre)"
                                                ValueProperty="@nameof(MarcaDTO.Id)"
                                                @bind-Value="model.MarcaId" />
                                <RadzenRequiredValidator Component="Marca" Text="La marca es requerida" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Categoria" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown Style="width: 100%;"
                                                ReadOnly="@(accion == AccionABM.Ver)"
                                                Multiple="true"
                                                Name="Categorias"
                                                Data="categorias"
                                                AllowClear="true"
                                                Placeholder="Seleccionar"
                                                TextProperty="@nameof(CategoriaDTO.Nombre)"
                                                ValueProperty="@nameof(CategoriaDTO.Id)"
                                                @bind-Value="model.CategoriaIds" />
                                <RadzenRequiredValidator Component="Categorias" Text="Se requiere al menos una categoría" />
                            </RadzenColumn>
                        </RadzenRow>

                        @if (accion != AccionABM.Crear)
                        {
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Estado" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown Style="width: 100%;"
                                                    ReadOnly="@(accion == AccionABM.Ver)"
                                                    Data="estados"
                                                    AllowClear="false"
                                                    Placeholder="Seleccionar"
                                                    TextProperty="@nameof(EstadoDTO.Nombre)"
                                                    ValueProperty="@nameof(EstadoDTO.Id)"
                                                    @bind-Value="model.EstadoId" />
                                </RadzenColumn>
                            </RadzenRow>
                        }

                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
        @if (accion != AccionABM.Ver)
        {
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
        }
        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
    </RadzenStack>
</RadzenTemplateForm>
